# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --- ADDED ---

# Misc. old stuf from FreeX
*.o
*~
*.dll
*.bat
*.sublime-project
*.sublime-workspace
lib/
include/
doc/html/
doc/latex/
obj/
dep/
bin/
archive.zip
dist.zip
config

# All logs, including testlogs
logs/
tests.txt

# All compiled object files
*.osrc
*.otest





